.card {
  background-color: #0c1016;
  font-family: 'Poppins', sans-serif;
  color: #f1f1f1;
}

.logo {
    border: #0c1016;
    width: 100%;    
    height: auto; 
    display: block;
}

body{
  background-image: url("testebackground.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: no-repeat;

}

.botoes-login {
  display: flex;
  justify-content: center; 
  margin-top: 10px;
}

#btnLogin,
#btnConta {
  padding: 8px 20px;  
  font-size: 15px;
  display: inline-block;
}

#btnLogin {
  margin-right: 50px; /* aumenta espaço para o botão da direita */
}

